@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: 5px;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f2f4f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d9bdb1f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4f2dff;
}

html {
  font-size: 9px;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f4f8ff;
  color: #333333;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  height: calc(100vh - 80px);
  width: 100%;
  overflow-y: auto;
}
